#playerToolBar {
    background-color: #464545;
}
#playerToolBar a {
    font-size: 1.2rem;
    color: white;
}
#playerToolBar .btn {
    border-radius:0px;
    width:50px;
}
#playerToolBar .btn:focus {
    border: none;
    box-shadow: 0;
    outline: 0 none;
}
#videoTime {
	color: white;
}